<p>Hello <%= user.displayName %> | <a href="<%= routes.logout %>">Logout</a></p>
<!-- Here the user object has changed because of the passport set. So in place of "user.username", we have instead "user.displayName" -->
